/*
* @Author: Administrator
* @Date:   2016-12-13 09:45:12
* @Last Modified by:   Administrator
* @Last Modified time: 2016-12-15 15:01:16
*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	border: 0;
	font-family: 'microsoft yahei';
	font-size: 16px;
	color: #333;
	text-align: center;
}
.wrap{height: 160%;
	margin: 0 auto;overflow: hidden;
}
.banner{
	margin: 0 auto;height: 200px;
}
.banner .img{	
	position: relative;
	height: 250px;
	z-index: -1;
	background: url(../images/zk.png) no-repeat;
    background-size:cover;background-position: center;
}
.login{
	display: inline-block;
	margin-right: 23.8%;
	padding-left: 4.8%;
}
.register{
    width: 4em;
    height: 70px;
	display: inline-block;
	margin-left: 23.8%;
	background: url(../images/3.png) 5px 30px no-repeat;
    background-size: 3em;
}
.shoujihao{
	width: 60%;font-size: 1em;
	margin-top: 13%;
	border-bottom: 1px solid;
	margin-bottom: 14%;
}
.button{
	width: 60%;height: 2em;
	font-size: 18px;
	margin-bottom: 3%;
	border: 1px solid;
	border-radius: 50px;
	background-color: #fff;
}